html {
  min-width: 300px;
  min-height: 450px;
  overflow: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: medium;
}

#chat-container {
  display: inline-block;
}

.chatbot-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
}

.chatbot-header {
  background-color: #fac1c1;
  padding: 10px;
  position: fixed;
  top: 0; /* Add this to ensure the header starts at the top */
  width: 100%;
  z-index: 100;
}


.chatbot-messages {
  max-height: calc(100vh - 150px - 20px); /* Subtract the header's height including padding */
  overflow-y: auto;
  padding-top: 60px;
}

.chatbot-header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.chatbot-input {
  padding: 10px;
  display: flex;
  border-top: 1px solid #ddd;
}

.chatbot-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.chatbot-input button {
  padding: 10px 15px;
  background-color: #cf013b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.chatbot-input button:hover {
  background-color: #e60049;
}

.chat-profile {
  float: left;
  width: 50px; /* Adjust the width as necessary */
  height: 50px; /* Adjust the height as necessary */
  clip-path: circle(25px at 25px 25px); /* Creates a circle shape centered */
  margin-right: 10px; /* Adjust the space between the profile image and message bubble */
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.chat-message.user-message {
  justify-content: flex-end;
}

.chat-message.eppy-message {
  justify-content: flex-start;
}

.message-bubble {
  position: relative;
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background-color: #cf013b; /* Default background color */
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.user-message .message-bubble {
  background-color: #cf013b; /* Background color for user message */
}

.eppy-message .message-bubble {
  background-color: #e6dfdf; /* Background color for Gemini message */
  color: black; /* Change text color to black */
}

.message-bubble strong {
  font-weight: bold;
}

.message-bubble:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
}

.user-message .message-bubble:before {
  border-color: transparent transparent transparent #cf013b; /* Adjust color for user message */
  right: -5px;
  top: 10px;
  transform: rotate(-135deg) translate(50%, 50%); /* Rotate and translate the tail */
}

.eppy-message .message-bubble:before {
  border-color: transparent #e6dfdf transparent transparent;
  left: -10px; /* Adjust if necessary, but should typically be the negative value of the border-width */
  top: 50%; /* Centers the tail vertically */
  transform: translate(0, -50%) rotate(135deg); /* Adjusts for centering the tail */
}

.loading-message .chat-profile {
  float: left;
  max-width: 50px; /* adjust as necessary */
  height: auto;
  clip-path: circle(40%);
  margin-right: 10px; /* Spacing between image and message */
}

/* Update the loading message bubble */
.loading-message .message-bubble:before {
  border-color: transparent #e6dfdf transparent transparent;
  left: -10px; /* Adjust if necessary, but should typically be the negative value of the border-width */
  top: 50%; /* Centers the tail vertically */
  transform: translate(0, -50%) rotate(135deg); /* Adjusts for centering the tail */
}

/* Remove extra left margin when profile picture is present */
.loading-message .chat-profile + .message-bubble {
  margin-left: 5px; /* Adjust this to match the space between the profile image and the message bubble */
}


.loading-message .message-bubble:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #e6dfdf transparent transparent; /* Color should match the loading bubble color */
  left: -5px; /* Position the tail on the left edge of the bubble */
  top: 15px; /* Align the top of the tail with the other messages' tails */
  transform: rotate(135deg) translate(-50%, 50%); /* Same rotation and translation as the eppy message tail */
}

.loading-message .message-bubble {
  background-color: #e6dfdf;
}

.typing-animation {
  width: 30px; /* Set a max-width that holds all three dots */
  display: flex;
  justify-content: space-around;
}

.typing-animation .dot {
  background-color: black; /* Dot color */
  border-radius: 50%;
  width: 6px; /* Dot size */
  height: 6px; /* Dot size */
  animation: typing 1.5s infinite;
}

.typing-animation .dot:nth-child(1) {
  animation-delay: 0s;
}

.typing-animation .dot:nth-child(2) {
  animation-delay: 0.15s;
}

.typing-animation .dot:nth-child(3) {
  animation-delay: 0.3s;
}


@keyframes typing {
  0%, 100% { opacity: 0; }
  60% { opacity: 1; }
}